/*----------------------------------
# Général
----------------------------------*/

header {
    height: 80px;
}

main {
    margin-top: 80px;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }



/*----------------------------------
# Installation
----------------------------------*/

/* Aucun CSS supplémentaire sur cette page */



/*----------------------------------
# Mise en Page
----------------------------------*/

.table-miseEnPage th {
    width: 20%;
}



/*----------------------------------
# Composants
----------------------------------*/

.list-composants [class^="border"] {
    display: inline-block;
    width: 95%;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0.25rem;
    padding: 1rem;
    cursor: pointer;
}



/*----------------------------------
# À propos
----------------------------------*/

/* Aucun CSS supplémentaire sur cette page */
